@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins;
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
::-webkit-scrollbar {
  @apply w-[8px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-[#aaa] hover:bg-[#717171];
}

audio::-webkit-media-controls-current-time-display {
  @apply text-secondary;
}
audio::-webkit-media-controls-time-remaining-display {
  @apply text-secondary;
}
audio::-webkit-media-controls-panel {
  @apply bg-primary;
}
